<% include ./partials/header %>

<h1>THIS IS THE INDEX PAGE!!</h1>

<% blogs.forEach(function(blog){ %>
  <div class="">
    <h2><%= blog.title %></h2>
    <h3><%=blog.created%></h3>
    <img src="<%= blog.image %>" alt="">
    <a href="/blogs/<%= blog._id%>">Read More</a>
  </div>

<% }) %>

<% include ./partials/footer %>
